<%= render "usuario/partials/menus" %>

<!--CONTAINER COM O CONTEUDO DO SITE-->
<div class="pusher">
<h2 class="ui center aligned icon header">
  <i class="settings icon"></i>
  <div class="content">
    Configurações
  </div>
</h2>

<div class="ui container">
  <div class="centered ui segment small">
    <div class="ui centered grid">
      <div class="row ">
        <div class="column text center">
          <a class="ui medium header">Meu perfil de dados de acesso</a>
        </div>
      </div>
      <div class="six wide tablet eight wide computer column ">
        <div class="ui tiny header">Nome:
          <span>
            <i>Gabriel Rodrigues da Silva Pires</i>
          </span>
        </div>
      </div>
      <div class="six wide tablet eight wide computer column">
        <div class="ui tiny header">Email:
          <span>
            <i>gabrielrsp18@gmail.com</i>
          </span>
        </div>
      </div>
      <div class="six wide tablet eight wide computer column">
        <div class="ui tiny header">Telefone:
          <span>
            <i>5555-5555</i>
          </span>
        </div>
      </div>
      <div class="six wide tablet eight wide computer column">
        <div class="ui tiny header">Senha:
          <span>
            <i>**********</i>
          </span>
        </div>
      </div>
      <div class="six wide tablet eight wide computer column">
        <button class="ui secondary button medium">Editar</button>
      </div>
    </div>
  </div>


  <div class="ui centered segment small">
    <div class="ui centered grid">
      <div class="row">
        <div class="column">

          <div class="input">
            <a class="ui medium header">Assinaturas ativas</a>
          </div>
        </div>
      </div>
      <div class="sixteen wide column">
        <div class="ui tiny header">Assinatura:
          <span>
            <i>Livro Sistemas de informação ilimitado</i>
          </span>
        </div>
        <div class="ui tiny header">Assinatura:
          <span>
            <i>Diversão Ilimitada</i>
          </span>
        </div>
      </div>
      <div class="six wide tablet eight wide computer column">
        <button class="ui secondary button">Editar</button>
      </div>
    </div>
  </div>

  <div class="ui centered segment small">
    <div class="ui centered grid">
      <div class="row">
        <div class="column">
          <div class="input">
            <a class="ui medium header">Dados de cobrança</a>
          </div>
        </div>
      </div>
      <div class="sixteen wide column">
        <div class="ui tiny header">Cobrança:
          <span>
            <i>Master Card - 5544 **** **** **10</i>
          </span>
        </div>

        <div class="ui tiny header">Forma de pagamento:
          <span>
            <i>Débito em conta Bradesco</i>
          </span>
        </div>
      </div>
      <div class="six wide tablet eight wide computer column">
        <button class="ui secondary button">Editar</button>
      </div>
    </div>
  </div>

</div>
</div>