<%= render "usuario/partials/menus" %>

<div class="pusher">
  <div id="main" class="ui container ">

    <div class="ui grid">
      <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
        <h1>Minha lista</h1>
      </div>

      <div class="seven wide mobile five wide tablet three wide computer column">
        <!--LISTA DE LIVROS-->
        <%= render partial: "usuario/livros/partials/cards-livros", locals: {livros: @livros} %>
      </div>
    
    </div>
  </div>
</div>