<div>
  <img class="ui small centered image" src="<%= image_path("logo.png") %>" width="206" height="455">
</div>

<!-- Inicia o container de cadastro-->
<div class="ui centered card">
  <div class="content">
    <div class="ui center aligned header">Cadastro</div>
    <div class="meta">
      <div class="field">

        <div class="center aligned description">
          <p>Cadastre-se para começar a ter acesso ao Elivros</p>
        </div>

        <form class="ui form">
          <div class="field">

            <input type="text" Nome="first-name" placeholder="Nome">
          </div>

          <div class="field">

            <input type="text" name="Sobrenome" placeholder="Sobrenome">
          </div>

          <div class="field">

            <input type="text" name="E-mail" placeholder="E-mail">
          </div>

          <div class="field">

            <input type="password" name="Senha" placeholder="Senha">
          </div>

          <div class="field">
            <input type="password" name="Senha" placeholder="Confirme sua senha">
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden">

            </div>

          </div>

        </form>

        <!-- Finaliza o container de cadastro-->
        <form class="ui form">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="example">
              <label> Li e Concordo com os
                <a class="header">Termos e condições</a>
              </label>
            </div>
          </div>


          <a href="livros-sugeridos.html" class="ui secondary button">Cadastrar</a>
        </form>
      </div>
    </div>
  </div>
</div>


<center> Já tem uma conta?
  <a href="/"> Entrar</a>
</center>