<div>
  <img class="ui small centered image" src="<%= image_path("logo.png") %>">
</div>


<div class="ui centered card">
  <div class="content">
    <div class="ui center aligned header">Login</div>
    <div class="meta">
      <div class="field">

        <div class="center aligned description">
          <p>Bem Vindo!</p>
        </div>

        <div class="center aligned description">
          <p>Por favor, digite seu E-mail e senha.</p>
        </div>
        
        <br> 

        <form class="ui form">
          <div class="field">

            <input type="text" name="E-mail" placeholder="E-mail">
          </div>

          <div class="field">

            <input type="password" name="Senha" placeholder="Senha">
          </div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden">

            </div>

          </div>

        </form>

        <a href="" class="ui secondary button">Entrar</a>
        </form>
      </div>
    </div>
  </div>
</div>

<center> Não tem uma conta?
  <a href="/cadastro"> Cadastrar-se</a>
</center>