<% 
  content_for :style do
    stylesheet_link_tag 'admin/navbar'
  end 
%>

<div class="ui top attached demo menu">
  
  <div class="ui secondary menu top medium ">

    <a href="./livros-sugeridos.html" class=" item">
      Livros
    </a>

    <div class="ui right simple dropdown item">
      Carlos Felipe
      <i class="dropdown icon"></i>
      <div class="menu">
        <a href="./configuracoes.html" class="item">Minha Conta</a>
        <a href="./login.html" class="item">Sair</a>
      </div>
    </div>
  </div>

</div>