
/*Redefinição dos menus*/
.ui.secondary.menu{
  border-radius: 0;
  box-shadow: none;
}


.ui.segment.menu{
  border-radius: 0;
  box-shadow: none;
}

/*Estendendo menu*/
.ui.secondary.menu.top.medium{
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  width: 100%;
  padding-left: 0px;
}

.ui.secondary.menu.top.right{
  margin-left: auto;
  margin-right: 0;
}
.ui.menu:not(.vertical) .center.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.ui.menu:not(.vertical) .center.menu.fluid {
  width: 100%;
}

.ui.menu:not(.vertical) .center.menu .item.fluid {
  width: 100%;
}

.ui.menu:not(.vertical) .center.menu .item:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 0px;
}

.ui.fluid.secondary.menu.top {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}


/*Estilos relacionados a sidebar*/
#main.container{
  max-width: 1400px !important;
  width: 100%;
}


.ui.vertical.menu.sidebar.desktop{
  display: none;
}

.pusher-content{
  -webkit-transform: translate3d(0,0,0); 
  transform: translate3d(0,0,0); 
  margin-left: 0;
}


@media screen and (min-width: 1175px){
  #open-menu{
      display: none;
  }

  .ui.vertical.menu.sidebar.desktop{
      display: block;
  }
  .pusher-content{
      -webkit-transform: translate3d(0,0,0); 
      transform: translate3d(0,0,0); 
      margin-left: 210px;
  }
}

