/*Estilos usados na pagina detalhes livros*/
.capa.livro.grande{
    max-width: 200px;
    max-height: 300px;
    height: 100%;
    margin: auto;
}

.segment.detalhe.livro{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 992px){
    .segment.detalhe.livro{
        margin-right: 0;
    }

    .capa.livro.grande{
        margin-left: 0;
        margin-right: auto;
        margin-top: 0;
    }
}


/*Redefinindo ui items para pagina de detalhes de livro*/
.ui.items>.item>.image:not(.ui) {
    width: 120px;
}

.ui.items>.item.bordered {
    border: 1px solid rgba(0,0,0,.1);
}

.ui.items>.item>.image+.content{
    padding: 1.5em;
}

/*Redefinição do botao secundario*/
.ui.secondary.button, .ui.secondary.buttons .button.medium {
    min-width: 100%;
    width: 100%;
}

.ui.tag.label, .ui.tag.labels .label{
    margin-top: 1em;
}

@media screen and (min-width: 350px){
    .ui.secondary.button, .ui.secondary.buttons .button.medium {
        min-width: 100px;
    }
    
}

@media screen and (min-width: 420px){
    .ui.secondary.button, .ui.secondary.buttons .button.medium {
        min-width: 150px;
    }

    .ui.tag.label, .ui.tag.labels .label{
        margin-top: 0em;
    }
}


