h1, h2, h3, h4, h5, h6{
    color: #47525E;
}



/*Redefinição do botao secundario*/
.ui.secondary.button, .ui.secondary.buttons .button {
    background-color: #47525E;
    color: #fff;
    text-shadow: none;
    background-image: none;
    min-width: 260px;
}



.ui.mini.button {
    background-color: #47525E;
    color: #fff;
    text-shadow: none;
    background-image: none;
    min-width: 150px;
}


/*Redefinição dos accordions*/
.ui.sidebar.vertical.menu .ui.styled.accordion, .ui.styled.accordion .accordion {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.ui.accordion .accordion .active.content, .ui.accordion .active.content {
    display: block;
    background-color: #F9FAFC;
    color: #8492A6;
}

.ui.accordion .accordion .active.content, .ui.accordion .active.content a {
    display: block;
    background-color: #F9FAFC;
    color: #8492A6;
}


.ui.styled.accordion .accordion .title, .ui.styled.accordion .title .dropdown.icon{
    display: inline-block;
    position: absolute;
    right: 15px;
}


/*Redefinição dos menus*/
.ui.secondary.menu{
    border-radius: 0;
    box-shadow: none;
}


.ui.segment.menu{
    border-radius: 0;
    box-shadow: none;
}

/*Estendendo menu*/
.ui.secondary.menu.top.medium{
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    width: 100%;
    padding-left: 0px;
}

@media only screen and (min-width: 1279px){
    .ui.secondary.menu.top.medium{
        padding-left: 100px;
    }
}

@media only screen and (min-width: 1320px){
    .ui.secondary.menu.top.medium{
        padding-left: 120px;
    }
}

@media only screen and (min-width: 1400px){
    .ui.secondary.menu.top.medium{
        padding-left: 140px;
    }
}

.ui.secondary.menu.top.right{
    margin-left: auto;
    margin-right: 0;
}


.ui.menu:not(.vertical) .center.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}

.ui.menu:not(.vertical) .center.menu.fluid {
    width: 100%;
}

.ui.menu:not(.vertical) .center.menu .item.fluid {
    width: 100%;
}

.ui.menu:not(.vertical) .center.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
}

.ui.fluid.secondary.menu.top {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/*Extendendo estilos para input text com icone*/
.ui.icon.input>input.text.rounded{
    border-radius: 30px;
}

.ui.icon.input>input.text.secondary{
    background-color: #f1f1f1;
}



/*Estilos relacionados a sidebar*/
#main.container{
    max-width: 1400px !important;
    width: 100%;
}


.ui.vertical.menu.sidebar.desktop{
    display: none;
}

.pusher-content{
    -webkit-transform: translate3d(0,0,0); 
    transform: translate3d(0,0,0); 
    margin-left: 0;
}


@media screen and (min-width: 1175px){
    #open-menu{
        display: none;
    }

    .ui.vertical.menu.sidebar.desktop{
        display: block;
    }
    .pusher-content{
        -webkit-transform: translate3d(0,0,0); 
        transform: translate3d(0,0,0); 
        margin-left: 210px;
    }
}



/*Classes para controle de visibilidade*/

/* Mobile */
@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large screen only"]:not(.mobile),
    [class*="widescreen only"]:not(.mobile),
    [class*="or lower hidden"] {
      display: none !important;
    }
  }
  
  /* Tablet / iPad Portrait */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    [class*="mobile only"]:not(.tablet),
    [class*="tablet hidden"],
    [class*="computer only"]:not(.tablet),
    [class*="large screen only"]:not(.tablet),
    [class*="widescreen only"]:not(.tablet),
    [class*="or lower hidden"]:not(.mobile) {
      display: none !important;
    }
  }
  
  /* Computer / Desktop / iPad Landscape */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    [class*="mobile only"]:not(.computer),
    [class*="tablet only"]:not(.computer),
    [class*="computer hidden"],
    [class*="large screen only"]:not(.computer),
    [class*="widescreen only"]:not(.computer),
    [class*="or lower hidden"]:not(.tablet):not(.mobile) {
      display: none !important;
    }
  }
  
  /* Large Monitor */
  @media only screen and (min-width: 1200px) and (max-width: 1919px) {
    [class*="mobile only"]:not([class*="large screen"]),
    [class*="tablet only"]:not([class*="large screen"]),
    [class*="computer only"]:not([class*="large screen"]),
    [class*="large screen hidden"],
    [class*="widescreen only"]:not([class*="large screen"]),
    [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
      display: none !important;
    }
  }
  
  /* Widescreen Monitor */
  @media only screen and (min-width: 1920px) {
    [class*="mobile only"]:not([class*="widescreen"]),
    [class*="tablet only"]:not([class*="widescreen"]),
    [class*="computer only"]:not([class*="widescreen"]),
    [class*="large screen only"]:not([class*="widescreen"]),
    [class*="widescreen hidden"],
    [class*="widescreen or lower hidden"] {
      display: none !important;
    }
  }

  .ui.grid{
      padding: 10px;
  }


  @media only screen and (max-width: 767px){
    .ui.items:not(.unstackable)>.item>.image+.content {
        display: block;
        padding: 1.5rem;
    }
  }

#main{
    margin-top: 14px;
}
body, body.pushable, body.pushable>.pusher{
    background: whitesmoke!important;
} 