h1, h2{
    color: #47525E;
}



/*Redefinição do botao secundario*/
.ui.secondary.button, .ui.secondary.buttons .button {
    background-color: #47525E;
    color: #fff;
    text-shadow: none;
    background-image: none;
}


/*Redefinição da sidebar*/
.ui.sidebar.vertical.menu .ui.styled.accordion, .ui.styled.accordion .accordion {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.ui.accordion .accordion .active.content, .ui.accordion .active.content {
    display: block;
    background-color: #F9FAFC;
    color: #8492A6;
}

.ui.accordion .accordion .active.content, .ui.accordion .active.content a {
    display: block;
    background-color: #F9FAFC;
    color: #8492A6;
}


.ui.styled.accordion .accordion .title, .ui.styled.accordion .title .dropdown.icon{
    display: inline-block;
    position: absolute;
    right: 15px;
}


.ui.secondary.menu{
    border-radius: 0;
    box-shadow: none;
}

.ui.secondary.menu.top{
    margin-left: auto;
    margin-right: auto;
    max-width: 472px;
}
.ui.icon.input>input.text{
    border-radius: 30px;
    background-color: #f1f1f1;
}

.ui.segment.menu{
    border-radius: 0;
    box-shadow: none;
}


.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}





/* Mobile */
@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large screen only"]:not(.mobile),
    [class*="widescreen only"]:not(.mobile),
    [class*="or lower hidden"] {
      display: none !important;
    }
  }
  
  /* Tablet / iPad Portrait */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    [class*="mobile only"]:not(.tablet),
    [class*="tablet hidden"],
    [class*="computer only"]:not(.tablet),
    [class*="large screen only"]:not(.tablet),
    [class*="widescreen only"]:not(.tablet),
    [class*="or lower hidden"]:not(.mobile) {
      display: none !important;
    }
  }
  
  /* Computer / Desktop / iPad Landscape */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    [class*="mobile only"]:not(.computer),
    [class*="tablet only"]:not(.computer),
    [class*="computer hidden"],
    [class*="large screen only"]:not(.computer),
    [class*="widescreen only"]:not(.computer),
    [class*="or lower hidden"]:not(.tablet):not(.mobile) {
      display: none !important;
    }
  }
  
  /* Large Monitor */
  @media only screen and (min-width: 1200px) and (max-width: 1919px) {
    [class*="mobile only"]:not([class*="large screen"]),
    [class*="tablet only"]:not([class*="large screen"]),
    [class*="computer only"]:not([class*="large screen"]),
    [class*="large screen hidden"],
    [class*="widescreen only"]:not([class*="large screen"]),
    [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
      display: none !important;
    }
  }
  
  /* Widescreen Monitor */
  @media only screen and (min-width: 1920px) {
    [class*="mobile only"]:not([class*="widescreen"]),
    [class*="tablet only"]:not([class*="widescreen"]),
    [class*="computer only"]:not([class*="widescreen"]),
    [class*="large screen only"]:not([class*="widescreen"]),
    [class*="widescreen hidden"],
    [class*="widescreen or lower hidden"] {
      display: none !important;
    }
  }

  .ui.grid{
      padding: 10px;
  }


  @media only screen and (max-width: 767px){
    .ui.items:not(.unstackable)>.item>.image+.content {
        display: block;
        padding: 1.5rem;
    }
  }
