
<div class="ui top attached demo menu ">
  <!--MENU MOBILE-->

  <a id="open-menu" class="item">
    <i class="sidebar icon"></i>
    Menu
  </a>
  <div class="center menu fluid">
    <div class="fluid item">
      <div class="ui icon input">
        <input class="fluid secondary input text rounded" type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
    
    

  </div>

  <!--LISTA DE CATEGORIAS MOSTRADA NO MENU MOBILE-->
  <div class="ui top fluid secondary menu" style="margin: 0;overflow-x: scroll">
    <a class="item">Auto Ajuda</a>
    <a class="item">Biografias</a>
    <a class="item">Business</a>
    <a class="item">Educação</a>
    <a class="item">Fantasia</a>
    <a class="item">Ficção Cientifica</a>
    <a class="item">Infatil</a>
    <div class="item">Investimentos</div>
    <a class="item">Literatura</a>
    <a class="item">História</a>
    <a class="item">Humor</a>
  </div>
</div>