<div class="ui top attached demo menu">

  <div class="ui secondary menu top medium ">

    <a href="/dashboard" class=" item">
      Inicio
    </a>

    <div class="ui simple dropdown item">
      Categorias<i class="dropdown icon"></i>
      <div class="menu">
        <%= render 'usuario/partials/categorias_livros' %>
      </div>
    </div>

    <a href="/dashboard/livros/minha-lista" class="item">
      Minha lista
    </a>

    <div class="item">
      <%= form_tag({controller: "livros", action: "buscar"}, method: "get") do %>
      <div class="ui icon input">
        <input class="secondary input text rounded" type="text" name="busca" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
      <% end %>
    </div>

    <div class="ui right simple dropdown item">
      Carlos Felipe
      <i class="dropdown icon"></i>
      <div class="menu">
        <a href="/dashboard/minha-conta" class="item">Minha Conta</a>
        <a href="/" class="item">Sair</a>
      </div>
    </div>
  </div>

</div>