<div class="ui top attached demo menu">

  <div class="ui secondary menu top medium ">

    <a href="./livros-sugeridos.html" class=" item">
      Inicio
    </a>

    <div class="ui simple dropdown item">
      Categorias
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Auto ajuda</div>
        <div class="item">Biografias</div>
        <div class="item">Business</div>
        <div class="item">Educação</div>
        <div class="item">Fantasia</div>
        <div class="item">Ficção Cientifica</div>
        <div class="item">Física</div>
        <div class="item">Infantil</div>
        <div class="item">Investimentos</div>
        <div class="item">Literatura</div>
        <div class="item">História</div>
        <div class="item">Humor</div>
        <div class="item">Matematica</div>
        <div class="item">Poesias</div>
      </div>
    </div>

    <a href="./meus-livros.html" class="item active">
      Minha lista
    </a>

    <a href="./meus-livros.html" class="item">Comprados</a>

    <div class="item">
      <div class="ui icon input">
        <input class="secondary input text rounded" type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>

    <div class="ui right simple dropdown item">
      Carlos Felipe
      <i class="dropdown icon"></i>
      <div class="menu">
        <a href="./configuracoes.html" class="item">Minha Conta</a>
        <a href="./login.html" class="item">Sair</a>
      </div>
    </div>
  </div>

</div>