
<div class="ui top attached demo menu ">
  
  <a id="open-menu" class="item">
    <i class="sidebar icon"></i>
    Menu
  </a>
  <div class="center menu fluid">
    <div class="fluid item">
      <%= form_tag({controller: "livros", action: "buscar"}, method: "get") do %>
        <div class="ui icon input">
          <input class="fluid secondary input text rounded" name="busca" type="text" placeholder="Search...">
          <i class="search link icon"></i>          
        </div>
      <% end %>
    </div>
  </div>

</div>

<div class="ui top fluid secondary menu" style="margin: 0;overflow-x: scroll">
  <%= render 'usuario/partials/categorias_livros' %>
</div>