<div id="sidebar" class="ui sidebar vertical fixed sticky menu">
  <div class="ui styled" style="margin-top: 48px">
    <a class="active item">Inicio</a>
    <a class="item">Novidades</a>
    <div class="item">Minha lista</div>
    <div class="item">Comprados</div>
  </div>
  <!--SIDEBAR MOBILE-->
  <div class="ui styled accordion">
    <div class="title">
      <span class="text-left">Carlos Felipe</span>
      <i class="dropdown icon text-right"></i>
    </div>
    <div class="content">
      <div class="item">Minha Conta</div>
      <div class="item">Sair</div>
    </div>
  </div>
</div>