<%= render "usuario/partials/sidebar" %>


<div class="mobile hidden tablet hidden">
 
    <%= render "usuario/partials/navbar" %>

</div>

<div class="pusher" style="min-height: 95px;">
  <div class="mobile only tablet only">
    <%= render "usuario/partials/navbar_mobile" %>
  </div>
</div>

<% content_for :javascript do %>
  <script>
    $sidebar = $('#sidebar').sidebar({
			dimPage: false,
			transition: 'push',
			exclusive: false,
		});
		//.sidebar('toggle');

		$('#open-menu').on('click', function () {
			console.log('clicked');
			$sidebar.sidebar('toggle');
		})
		$('.ui.accordion').accordion();

		$('.browse.item')
			.popup({
				popup: '.fluid.popup'
			});


		$('.rating')
			.rating('disable');
  </script>
<% end %>