
<% livros.each do | livro | %>
<div class="ui segment livros">
  <div class="item bordered">
    <div class="image">
      <img src="./img/javaimg.jpg">
    </div>
    <div class="content">
      <a class="header">Java rápido e fácil</a>
      <div class="extra">
        <div class="ui rating" data-max-rating="5"></div>
      </div>
      <div>
        <p class="preco">R$ 30,00</p>
      </div>
    </div>
  </div>
</div>
<% end %>