
<div class="row centered">

  <div class="ui five doubling cards">
    <% livros.each do | livro | %>
      <div class="ui card font responsive">

        <div class="image">
          <img src="/public<%= livro.url_capa %>">
        </div>
        <div class="content">
          <a class="header" href="/dashboard/livros/<%= livro[:_id] %>" ><%= livro.titulo %></a>
        </div>

      </div>
    <% end %>
  </div>

</div>
